*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
  }
a{
    color: rgb(87, 87, 87);
}


header{
    color: rgb(82, 82, 82);
    font-family: 'Google Sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    width: 100%;
    margin-top: 5px;
}
.header_left{
    float: left;
    margin-left: 10px;
}
.header_right{
    float: right;
    margin-right: 10px;
    align-items: center;
    margin-top: -10px;
}
.header_right #sign_in {
    color: #ffffff;
    background: #2979f8; 
    margin-right: 25px;
    padding: 7px 15px;
    border-radius: 3px; 
    font-weight: bold;
    
  }
.google-dropdown-menu{
    float: right;
    width: 22px;

}

body{
    height: 100%;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}
.wrapper {

    width: 100%;
    justify-content: center;
    align-items: center;
}
.google_logo{
    display: block;
    position: absolute;
    padding-top: 200px;
    width: 272px;
    left: 50%;
    margin-left: -136px;
}
.search_bar{
    padding-top: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.search_bar input[type=text]{
    width: 500px;
    height: 40px;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    margin-left: -250px;
    top: 350px
}
.buttons_google{
    position: absolute;
    margin-left:-153px;
    left: 50%;
    top: 425px;
    color: rgb(255, 255, 255);
}
.search_button{
    width: 140px;
    height: 35px;
    margin-right: 6px;
    border:none;
    border-radius: 3px;
}
.lucky_button{

}

footer{
    color:blue;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: block;
    overflow: hidden;
    padding: 0;
    box-sizing: border-box;
    height: 100px;
    background-color: rgb(245, 245, 245);
    font-size: 14px;
    
}
.top_footer{
    display: block;
    margin: 0 auto;
    width: 100%;
    height: calc(50% - 1px);
    border-bottom: 1px solid rgb(235, 235, 235);
    border-top: 1px solid rgb(235, 235, 235)
}
.bottom_footer{
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 50%;
}
.bottom_left_footer{
    float: left;
    color: blue;
    margin-left: 10px;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.bottom_right_footer{
    float: right;
    margin-right: 25px;
}
li {
    display: inline-block;
    margin: 15px 0 0 15px;
}