*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
  }
a{
    color: rgb(87, 87, 87);
}

.wrapper {
    margin: 0 auto;
    width: 1000px;
}
.google-logo{
    width: 300px;
}
body{
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

header{
    color: rgb(82, 82, 82);
    font-family: 'Google Sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    
    width: 100%;
}
.header_left{
    float: left;
}
.header_right{
    float: right;
}
footer{
    width: 100%;
    background-color: rgb(245, 245, 245);
    padding: 60px 0px;

}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    display: inline-block;
    margin: 15px 0 0 15px;
}